.rectangleParent {
  	width: 378px;
  	height: 241px;
  	position: relative;
  	max-width: 100%;
  	max-height: 100%;
  	overflow: auto;
  	text-align: center;
  	font-size: 32px;
  	color: #000;
  	font-family: 'Rounded Mplus 1c';
}
.frameChild {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 2px 2px 4px #347464;
  	border-radius: 5px;
  	background-color: #fefefe;
  	border: 1px solid #347464;
  	box-sizing: border-box;
  	width: 378px;
  	height: 241px;
}
.interfaceDelete2RemoveBolIcon {
  	position: absolute;
  	top: 56px;
  	left: 159px;
  	width: 60px;
  	height: 60px;
  	display: none;
}
.line1Stroke {
  	position: absolute;
  	width: 15.87%;
  	top: calc(50% - 64.5px);
  	right: 42.06%;
  	left: 42.06%;
  	max-width: 100%;
  	overflow: hidden;
  	height: 60px;
  	object-fit: contain;
}
.title1 {
  	position: absolute;
  	top: 120px;
  	left: 49px;
  	width: 280px;
  	height: 66px;
}
.title12 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	left: 0%;
  	font-weight: 800;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}

