.activitiesGroups,
.activitiesGroupsChild {
  height: 180px;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-2);
  background-color: var(--color-gray-200);
  border-top: var(--border-21);
  border-right: var(--border-22);
  border-left: var(--border-11);
  box-sizing: border-box;
  max-width: 100%;
}
.activitiesGroups {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-8) var(--padding-18) 14.9px 29px;
  gap: 36.5px;
  text-align: center;
  font-size: var(--fs-12);
  color: var(--color-black);
  font-family: var(--font-rounded-mplus-1c);
}
.activitiesGroupsChild {
  width: var(--width-707);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.frameGroup,
.frameParent {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.frameParent {
  align-items: flex-end;
  gap: 15.5px;
  max-width: 100%;
  flex-shrink: 0;
}
.frameGroup {
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.activityCompletionStatusWrapper {
  width: 286px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-12);
  box-sizing: border-box;
}
.activityCompletionStatus {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 800;
  z-index: 3;
}
.donutChartParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-10);
  font-size: var(--fs-11);
}
.donutChart,
.donutChartChild {
  width: 137px;
  background-color: var(--color-white);
  z-index: 1;
}
.donutChart {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8.8px var(--padding-7) 6.4px var(--padding-10);
  box-sizing: border-box;
}
.donutChartChild {
  height: 130.1px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.ellipseParent {
  flex: 0.8753;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 7.2px 70px var(--padding-7) var(--padding-7);
  position: relative;
  isolation: isolate;
  flex-shrink: 0;
}
.frameChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-50);
  background-color: var(--color-darkseagreen);
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  z-index: 5;
  flex-shrink: 0;
}
.chartPercent {
  position: relative;
  display: inline-block;
  min-width: 7px;
  z-index: 7;
  flex-shrink: 0;
}
.completedParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-6) var(--padding-0) var(--padding-1);
  position: relative;
  isolation: isolate;
  margin-top: -4px;
  flex-shrink: 0;
}
.completed,
.incomplete {
  position: relative;
  z-index: 6;
  flex-shrink: 0;
}
.incomplete {
  position: absolute;
  margin: 0 !important;
  top: 5.96px;
  right: -48px;
  font-size: var(--fs-6);
  font-weight: 300;
  transform: rotate(-102.4deg);
  transform-origin: 0 0;
  z-index: 8;
}
.donutChartInner,
.ellipseGroup {
  flex: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.donutChartInner {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-1) var(--padding-0) var(--padding-5);
  margin-top: -112.9px;
  flex-shrink: 0;
}
.ellipseGroup {
  flex-direction: column;
  padding: 1.2px var(--padding-7) 40.7px var(--padding-40);
  isolation: isolate;
  gap: var(--gap-24);
}
.frameItem {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -0.8px;
  border-radius: var(--br-50);
  background-color: var(--color-navajowhite);
  z-index: 1;
  flex-shrink: 0;
}
.frameInner {
  left: -0.8px;
  background-color: var(--color-lightcoral);
  z-index: 2;
}
.ellipseDiv,
.frameChild2,
.frameInner {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  border-radius: var(--br-50);
  flex-shrink: 0;
}
.ellipseDiv {
  left: -0.8px;
  background-color: var(--color-skyblue);
  z-index: 3;
}
.frameChild2 {
  right: 0.1px;
  left: 0;
  border: 0 solid var(--color-darkslategray-100);
  box-sizing: border-box;
  z-index: 4;
}
.frameWrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-12);
  flex-shrink: 0;
}
.indicatorPercentParent {
  display: flex;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
}
.indicatorPercent {
  position: relative;
  display: inline-block;
  min-width: 7px;
  z-index: 5;
  flex-shrink: 0;
}
.registered {
  position: absolute;
  margin: 0 !important;
  right: -22.3px;
  bottom: -26.25px;
  font-size: var(--fs-6);
  font-weight: 300;
  transform: rotate(-66.7deg);
  transform-origin: 0 0;
  z-index: 6;
  flex-shrink: 0;
}
.progressStatus {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-3);
  flex-shrink: 0;
  font-size: 13px;
}
.ellipseContainer {
  height: var(--height-32);
  flex: 1;
  position: relative;
}
.frameChild3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-50);
  background-color: var(--color-white);
  border: 0 solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.progressPercent {
  position: absolute;
  top: 7px;
  left: 7px;
  display: inline-block;
  min-width: 17px;
  z-index: 7;
}
.inProgressWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-0) var(--padding-0);
  font-size: var(--fs-11);
}
.inProgress {
  position: relative;
  z-index: 5;
}
.completedDetailsWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px var(--padding-0) var(--padding-0);
  text-align: left;
  font-size: var(--fs-10);
}
.completedDetails {
  align-self: stretch;
  height: var(--height-64);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5);
}
.rectangleParent {
  height: var(--height-24);
  background-color: var(--color-darkseagreen);
  border: 5px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0_5) 37px var(--padding-0) var(--padding-0);
  z-index: 3;
}
.completed3,
.rectangleDiv {
  position: relative;
  flex-shrink: 0;
}
.rectangleDiv {
  height: var(--height-24);
  width: 166px;
  background-color: var(--color-darkseagreen);
  border: 5px solid var(--color-darkseagreen);
  box-sizing: border-box;
  display: none;
}
.completed3 {
  width: 118.7px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.bodyParent,
.lineWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bodyParent {
  align-self: stretch;
  gap: var(--gap-2);
  z-index: 1;
}
.lineWrapper {
  height: 137.7px;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-0) 4.7px;
  box-sizing: border-box;
}
.lineDiv {
  width: var(--width-1);
  flex: 1;
  position: relative;
  border-right: var(--border-1);
  box-sizing: border-box;
  z-index: 1;
}
.graphContainerParent {
  width: 297px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-21);
  flex-shrink: 0;
}
.graphContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-11);
}
.graphHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.graphTitle {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-24) var(--padding-0) var(--padding-0);
}
.xp {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 800;
  z-index: 1;
}
.periodButton,
.periodButtonChild,
.rectangleGroup {
  background-color: var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.periodButton {
  width: var(--width-53);
  height: 38px;
  position: relative;
  border: var(--border-1);
  z-index: 3;
  font-size: var(--fs-11);
}
.periodButtonChild,
.rectangleGroup {
  position: absolute;
}
.periodButtonChild {
  top: 0;
  left: 0;
  border: var(--border-1);
  width: 100%;
  height: 100%;
  display: none;
}
.rectangleGroup {
  top: 20px;
  left: 1px;
  border-radius: var(--br-2);
  border: var(--border-2);
  width: var(--width-52);
  height: var(--height-18);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-6);
  z-index: 1;
}
.frameChild4,
.weekly {
  position: relative;
  flex-shrink: 0;
}
.frameChild4 {
  height: var(--height-18);
  width: var(--width-52);
  border-radius: var(--br-2);
  background-color: var(--color-whitesmoke-100);
  border: var(--border-2);
  box-sizing: border-box;
  display: none;
}
.weekly {
  font-weight: 500;
  display: inline-block;
  min-width: 38px;
  z-index: 1;
}
.rectangleContainer {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: var(--br-2);
  background-color: var(--color-navajowhite);
  border: var(--border-2);
  box-sizing: border-box;
  width: var(--width-52);
  height: var(--height-18);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-4);
  z-index: 1;
}
.daily,
.frameChild5 {
  position: relative;
  flex-shrink: 0;
}
.frameChild5 {
  height: var(--height-18);
  width: var(--width-52);
  border-radius: var(--br-2);
  background-color: var(--color-navajowhite);
  border: var(--border-2);
  box-sizing: border-box;
  display: none;
}
.daily {
  width: var(--width-42);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.buttonSeparator {
  position: absolute;
  top: 20px;
  left: 6px;
  border-top: var(--border-1);
  box-sizing: border-box;
  width: 43px;
  height: var(--height-1);
  z-index: 1;
}
.graphData {
  display: flex;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  font-size: var(--fs-6);
  color: var(--color-gray-100);
}
.dataSeparator {
  height: var(--height-1);
  width: 301px;
  position: absolute;
  margin: 0 !important;
  right: -10px;
  bottom: 14px;
  border-top: var(--border-1);
  box-sizing: border-box;
  z-index: 1;
  flex-shrink: 0;
}
.frameContainer,
.xpData {
  display: flex;
  align-items: flex-end;
}
.xpData {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-4);
  z-index: 1;
  flex-shrink: 0;
}
.frameContainer {
  height: var(--height-42);
  width: var(--width-37);
  flex-direction: column;
  gap: var(--gap-1);
}
.frameDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-0) var(--padding-7) var(--padding-0) var(--padding-8);
}
.frameChild6,
.rectangleParent2 {
  height: var(--height-28);
  background-color: var(--color-plum);
  border: var(--border-1);
  box-sizing: border-box;
}
.rectangleParent2 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-12);
}
.frameChild6 {
  width: var(--width-23);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.sun04012026,
.xp2 {
  height: var(--height-14);
  position: relative;
  display: flex;
  align-items: center;
}
.xp2 {
  width: var(--width-22);
  font-weight: 800;
  justify-content: center;
  z-index: 1;
  flex-shrink: 0;
}
.sun04012026 {
  width: var(--width-37);
  color: var(--color-black);
}
.sun04012026TxtContainer {
  line-break: anywhere;
  width: 100%;
}
.groupDiv {
  height: 56px;
  width: var(--width-37);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-1);
}
.frameChild7,
.rectangleParent3 {
  height: var(--height-42);
  background-color: var(--color-plum);
  border: var(--border-1);
  box-sizing: border-box;
}
.rectangleParent3 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-26);
}
.frameChild7 {
  width: var(--width-23);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.frameParent2 {
  height: var(--height-36);
  width: var(--width-37);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-1);
}
.frameChild8,
.rectangleParent4 {
  height: var(--height-22);
  background-color: var(--color-plum);
  border: var(--border-1);
  box-sizing: border-box;
}
.rectangleParent4 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-6);
}
.frameChild8 {
  width: var(--width-23);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.frameParent3 {
  height: 50px;
  width: var(--width-37);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-1);
}
.frameChild9,
.rectangleParent5 {
  height: var(--height-36);
  background-color: var(--color-plum);
  border: var(--border-1);
  box-sizing: border-box;
}
.rectangleParent5 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-20);
}
.frameChild9 {
  width: var(--width-23);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.frameParent4 {
  height: 31px;
  width: var(--width-37);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-1);
}
.frameChild10,
.rectangleParent6 {
  height: 17px;
  background-color: var(--color-plum);
  border: var(--border-1);
  box-sizing: border-box;
}
.rectangleParent6 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-1);
}
.frameChild10 {
  width: var(--width-23);
  position: relative;
  display: none;
}
.xp6 {
  height: var(--height-14);
  width: var(--width-22);
  position: relative;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frameParent5 {
  height: 58px;
  width: var(--width-37);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-1);
}
.frameChild11,
.rectangleParent7 {
  height: var(--height-44);
  background-color: var(--color-plum);
  border: var(--border-1);
  box-sizing: border-box;
}
.rectangleParent7 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-28);
}
.frameChild11 {
  width: var(--width-23);
  position: relative;
  display: none;
  flex-shrink: 0;
}
.frameParent6 {
  height: 73px;
  width: var(--width-37);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-1);
}
.frameChild12,
.rectangleParent8 {
  background-color: var(--color-plum);
  border: var(--border-1);
}
.rectangleParent8 {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 43px;
}
.frameChild12 {
  height: 59px;
  width: var(--width-23);
  position: relative;
  box-sizing: border-box;
  display: none;
  flex-shrink: 0;
}
@media screen and (max-width: 750px) {
  .activitiesGroups {
    gap: var(--gap-18);
    flex-wrap: wrap;
  }
  .graphContainerParent,
  .graphHeader {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .donutChartParent,
  .frameParent {
    flex-wrap: wrap;
  }
  .donutChart {
    flex: 1;
  }
}
