.body,
.body2 {
  height: var(--height-24);
  width: var(--width-88);
}
.body {
  display: flex;
  align-items: flex-start;
  z-index: 1;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--fs-10);
  color: var(--color-black);
  font-family: var(--font-rounded-mplus-1c);
}
.body2 {
  position: relative;
  display: inline-block;
}
