.button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: var(--height-17_3);
  width: var(--width-58);
  position: relative;
  z-index: 1;
}
.button4Child,
.rectangle28Stroke,
.rectangle28Stroke2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle28Stroke {
  border-radius: var(--br-1);
  display: none;
}
.rectangle28Stroke2 {
  z-index: 2;
}
