.root {
  height: var(--height-24);
  width: var(--width-24);
  border-radius: var(--br-4);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-11);
  color: var(--color-steelblue-200);
  font-family: var(--font-inter);
}
.root[data-fill="false"][data-strok="false"][data-weekend="false"] .text {
  color: var(--color-dimgray-200);
}
.root[data-active="true"][data-fill="false"][data-strok="false"][data-weekend="false"]:active
  .text {
  color: var(--color-black);
}
.root[data-active="true"][data-fill="false"][data-strok="false"][data-weekend="true"]:active
  .text {
  color: var(--color-cornflowerblue);
}
.text {
  position: relative;
}
