.atomsMouth {
  height: var(--height-24);
  border-radius: var(--br-4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2) var(--padding-8);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--fs-20);
  color: var(--color-black);
  font-family: var(--font-rounded-mplus-1c);
}
.text {
  margin: 0;
  position: relative;
  flex-shrink: 0;
}
