.sidebarManu {
  width: 90px;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-13) var(--padding-12) var(--padding-12);
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  gap: 55px;
}
.sidebarManuChild {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border-radius: var(--br-2);
  background-color: var(--color-silver);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  z-index: 0;
  flex-shrink: 0;
}
.frameParent {
  width: var(--width-65);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-30);
  z-index: 1;
  flex-shrink: 0;
}
.frameChild,
.frameItem,
.sidebarManuItem {
  width: var(--width-65);
  height: var(--height-65);
  position: relative;
  object-fit: cover;
}
.frameItem {
  cursor: pointer;
}
.sidebarManuItem {
  z-index: 2;
  flex-shrink: 0;
}
