.title2,
.title22 {
  width: 208.5px;
  display: flex;
}
.title2 {
  height: 48.8px;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 18.8px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--fs-20);
  color: var(--color-black);
  font-family: var(--font-rounded-mplus-1c);
}
.title22 {
  margin: 0;
  height: var(--height-30);
  position: relative;
  align-items: center;
  justify-content: center;
}
