.root {
  height: var(--height-24);
  width: var(--width-24);
  border-radius: var(--br-4);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-11);
  color: var(--color-cornflowerblue);
  font-family: var(--font-inter);
}
.root[data-weekend="false"] .text {
  color: var(--color-black);
}
.text {
  position: relative;
}
